$phone: 450px;
$phablet: 610px;
$tablet: 810px;

@mixin respond-to($breakpoint) {
    @if $breakpoint == 'phone' {
        @media (max-width: $phone) {
            @content;
        }
    } @else if $breakpoint == 'not-phone' {
        @media (min-width: $phone + 1) {
            @content;
        }
    } @else if $breakpoint == 'phablet' {
        @media (max-width: $phablet) {
            @content;
        }
    } @else if $breakpoint == 'not-phablet' {
        @media (min-width: $phablet + 1) {
            @content;
        }
    } @else if $breakpoint == 'tablet' {
        @media (min-width: $phablet + 1) and (max-width: $tablet) {
            @content;
        }
    } @else if $breakpoint == 'descop' {
        @media (min-width: $tablet + 1) {
            @content;
        }
    }
}

@mixin same-font-and-height($font-size) {
    font-size: $font-size;
    line-height: $font-size;
}